#root {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1rem;
  margin: 0px;
  padding: 2rem;
  min-width: calc(100% - 4rem);
  min-height: 1200px;

  background-color: rgb(243, 244, 246);
  --main-background-color: #fff;
}

.operatePanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
}

.previewContainer {
  display: flex;
  flex-direction: column;
  margin: 0.3rem 1rem 0.3rem 1rem;
  width: calc(65% - 2rem);
  min-height: 16rem;

  background-color: var(--main-background-color);
}
